div{
        font-family: Arial, Helvetica, sans-serif;
}
* {
        box-sizing: border-box;
        margin: 0;
      }
      
      /* Create two equal columns that floats next to each other */
      .maincontainer {
        
        width: 100%;

        height: 30vh;
        background-color:white;
        border-bottom-right-radius: 70px;
        border-bottom-left-radius: 80px;
      }
    
      .container p{
        font-size: 20px;
        text-align: left;
        padding-right: 10px;
        margin-left: 60%;
       
      }
      .maincontainer hr{
        width: 150px;
        margin-left: 60%;

        

      }
      .bottomcontainer{
        width: 100%;
        padding: 30px;
        height: 70vh;
        

      }
      .bottomcontainer hr{
    
          height: 10px;
          border: 0;
          box-shadow: 0 10px 10px -10px #8c8b8b inset;
      }
      .bottomcontainer p{
        width: 100%;
        padding: 30px;
        text-align: center;
        font-size: 13px;


      }  
      .bottomcontainer button{
        border-radius: 50%;
        margin-top: 20px;
        width: 60px;
        height: 60px;
        
      }
      .main{
        margin-left: auto;
        margin-right: auto;
        display: block;
        max-width: 500px;
        background-color: rgb(244, 245, 245);
      }



      .column {
        float: left;
        padding: 10px;

      }
      
      .left, .right {
        width: 45%;
      }
      
      .middle {
        width: 10%;
        text-align: center;
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }


      
